<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recipe Form</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <div class="container">

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Add a Recipe</h1>

      <div class="mb-3">
        <label for="recipeName" class="form-label">Recipe name</label>
        <input name="receipe_name" id="recipeName" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="recipeDesc" class="form-label">Recipe description</label>
        <textarea name="receipe_description" id="recipeDesc" class="form-control"></textarea>
      </div>

      <div class="mb-3">
        <label for="recipeImage" class="form-label">Recipe image</label>
        <input name="receipe_image" id="recipeImage" type="file" class="form-control" />
      </div>

      <button type="submit">Submit</button>
    </form>
     <!-- Search Form -->
    <div class="mt-5">
      <div class="max-auto col-6">
        <form method="" action="" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="searchInput" class="form-label">Search Food</label>
            <input id="searchInput" name="search" value="{{receipe.receipe_name}}" required type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-secondary">Search</button>
        </form>
      </div>
    </div>

  </div>
<h2>Recipe List</h2>
<table border="1">
  <tr>
    <th>Recipe Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>

  {% for receipe in receipes %}
  <tr>
    <td>{{ receipe.receipe_name }}</td>
    <td>{{ receipe.receipe_description }}</td>
    <td>
      {% if receipe.receipe_image %}
        <img src="{{ receipe.receipe_image.url }}" width="100">
      {% else %}
        No Image
      {% endif %}
    </td>
    <td class='anchor'>
      <a href="{% url 'update_receipe' receipe.id %}"class="delete-btn">update</a> 
      <a href="{% url 'delete_receipe' receipe.id %}" class="delete-btn">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

</html>
